{{!-- --}}
{{!-- --}}

<div class="container">
    <div class="bg-light p-5 rounded-lg m-5">
        <h1 class="display-4">Story Books !!!</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur nisi possimus officiis dolor
            at repellendus repellat quo placeat ipsum excepturi. Possimus deleniti maxime labore laborum ea numquam
            libero et itaque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos fugit pariatur sint eaque,
            illo exercitationem?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, enim? Quia, error. Obcaecati, delectus
            vitae!</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
    </div>
</div>